build/
*.o
*.a
*.su
.n_stamp_*

bench_bin
blindsig
src/test_*
src/tests/test_*
!src/tests/test_*.c
!src/tests/test_*.h

signer_key.bin
signer_pub.bin
commitment.bin
user_state.bin
xmss_sig.bin
blind_sig.bin

.vscode/

__pycache__/
